<h1>Welcome to <a href="https://github.com/tranphuquy19/ftp-express-server">{{title}}</a></h1>
<form action="/submit" method="POST">
  <label for="fname">Username:</label><br>
  <input type="text" id="username" name="username" value="quy"><br>
  <label for="lname">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 
